body {
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#background-profile-image {
    background-image: url(scooter-2792992_1280.jpg);
    width: 100%;
    height: 300px;
}

#itinerary-body {
    background-color: white;
    text-align: center;
}

.img-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5); 
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 40%;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.img-text h1 {
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 100px;
}

.img-text span {
    color: white;
}

i.fab {
    font-size: 1.9em;
    color: white;
    padding: 5px;
}

.logo {
    color: white;
    font-family: 'Lobster Two', cursive;
}

.profile-button {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: white;
    font-family: 'Molengo', sans-serif;
}

#profile-navbar {
    background-color: rgba(0,0,0,0.5);
    margin: 0px 50px;
}

#profile-navbar > span > button {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: white;
    font-size: 1em;
}

#itinerary-navbar > span > button {
    background-color: white;
    border-color: white;
    color: black;
    padding: 0px 20px;
}

#itinerary-navbar > span > button:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

#itinerary-navbar {
    border-bottom: grey solid 0.5px;
    margin: 0px 50px;
}

#index-nav {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    margin: 0px 50px;
}

#index-nav > span > button {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: white;
}

#add-place {
    background-color: coral;
    border-color: coral;
    color: white;
}

.list-group a {
    text-align: center;
}

#upload-image span {
    width: 50%;
    margin: 0 auto;
}

.center-login {
    height: 300px;
    width: 300px;
    margin: 20% auto;
}

.center-text {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

h1, h5, span, label, #list-of-places-container, .navbar, .profile-navbar {
    color: black;
    font-family: 'Molengo', sans-serif;
}

button:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.trip-list {
    overflow-y: scroll;
    height: 300px;
}

.trips-container {
    height: 50px;
    width: 300px;
    background-color: #FC9E4F;
    margin: 15px;
    display: inline-block;
    top: 50%;
    left: 50%;
    text-align: center;
}

.trips-container > span > a {
    display: inline-block;
    color: white;
}

#profile-pic {
    background-color: rgba(0,0,0,0);
    height: 310px;
    padding: 25px;
}

.trip-date {
    font-size: 0.8em;
}

.add-del-trip {
    border-radius: 50%;
    padding: 7px 14px;
    background-color: rgb(243, 122, 121);
    border-color: rgb(243, 122, 121);
    color: white;
}

#map {
    display: inline-block;
    height: 400px;
    padding: 20px;
}

#travel-friends {
    height: 300px;
    width: 100%;
    overflow: scroll;
}

.travel-buddy-list > span {
    font-size: 0.7em;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px grey;
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

#list-of-places-container {
    display: inline-block;
    text-align: left;
    overflow: scroll;
    height: 300px;
    width: 300px;
}

.travel-buddy-list {
    display: inline-block;
}

.travel-buddy-list > img {
    border-radius: 30%;
}

#home-container {
    height: 50%;
    width: 100%;
    background-image: url(scooter-2792992_1280.jpg);
}

.collapsible {
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: white;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    color: white;
}

.comment-button {
    background-color: #555;
    color: white;
    border-color: #555;
}

.comment-text {
    font-size: 0.7em;
    width: 300px
}

.comment-list {
    color: black;
    font-size: 0.8em;
    list-style: none;
}

.comment-list::before {
    content: "\2022";
    display: inline-block;
    margin-left: -2em;
    width: 1em;
    color: black;
}

.itinerary-button {
    background-color: white;
    border-color: white;
    color: rgb(34, 141, 144);
    font-weight: bold;
}

.itinerary-button:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.footer {
    background-color: white;
    width: 100%;
    height: 50px;
}

.itinerary-footer {
    width: 100%;
    height: 50px;
}

#del-place-add-friend > div > button {
    font-family: 'Molengo', sans-serif;
    background-color: grey;
    border-color: grey;
    border-radius: 5%;
    color: white;
}

