body {
    text-align: center;
/*    background-image: url(https://www.touropia.com/gfx/b/2016/09/Street.jpg);*/
    background-color: rgba(90, 108, 127, 0.8);
}

.page-wrap {
    width: 960px;
    margin-left: auto; 
    margin-right: auto;
}
/*#carousel {
    height: 300px;
    width: 300px;
}*/

#list-group {
    display: inline-block;
    height: 200px;
    width: 30%;
}

#map {
    display: inline-block;
    height: 600px;
    width: 600px;
    padding: 20px;
}

#travel-friends {
    height: 200px;
    width: 200px;
}

/*#carouselExampleControls {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}*/

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}


#list-of-places {
    display: inline-block;
}


