#login-body {
    background-image: url(https://www.hertzpageo.com/img/!kath/Edinburgh_Quick_1.jpg);
    background-repeat: repeat-x;
    background-size: 100% 400px;
    background-position: center;
}

body {
    text-align: center;
/*    background-color: rgba(158, 190, 204);*/
    background-color: white;
}

.navbar {
    background-color: rgba(52, 58, 64, 0.5);
}

.list-group a {
    text-align: center;
}

#upload-image span {
    text-align: center;
}

/*.page-wrap {
    width: 960px;
    margin-left: auto; 
    margin-right: auto;
}*/
.center-login {
    height: 300px;
    width: 300px;
    margin: 20% auto;
}

.center-text {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.carousel-caption > h1 {
    color: white;
}

h1, h5, span, #list-of-places {
    color: black;
    font-family: "Courier New", Courier, monospace;
}

.carousel-inner > .carousel-item > img {
    height: 450px;
    width: 100%;
    bottom: 0px;
}

#list-group {
    display: inline-block;
    height: 200px;
    width: 30%;
}

#profile-pic {
    display: inline-block;
    height: 20px;
    width: 20px;
}

#map {
    display: inline-block;
    height: 500px;
    width: 500px;
    padding: 20px;
}

#travel-friends {
    height: 200px;
/*    width: 200px;*/
    width: 100%;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}


#list-of-places {
    display: inline-block;
    text-align: left;
}

.travel-buddy-list {
    display: inline-block;
}


