{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

	<body id="home-container">

		<nav class="navbar" id="index-nav">
			{% if not session %}
			<span>
            	<button type="button" data-toggle="modal" data-target="#login-modal">
                Login
            	</button>
            	<button type="button" data-toggle="modal" data-target="#signup-modal">
                Sign Up
            	</button>
			</span>
			{% else %}
				<span>
					<button onclick="window.location.assign('/profile/{{ user.username }}');">Profile</button>
					<button onclick="goToLogout()">Logout</button>
				</span>
			{% endif %}
			<span>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-facebook"></i>
				<i class="fab fa-twitter"></i>
			</span>
		</nav>
		
		<div class="img-text">
			<h1>Tripster</h1>
			<span>Organize trips with friends with ease.</span>
		</div>
		
	<!----------------------------- LOGIN MODAL ------------------------------>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/validate-login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control-sm" id="loginInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control-sm" id="loginInputPassword1" placeholder="Password" name="password" required>
                </div>
               	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-login">Login</button>              
	          </form>
          </div>
        </div>
      </div>
    </div>

	<!------------------------------ SIGN UP MODAL --------------------------->
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
				<form method="post" action="/validate-user">
				    <div class="form-row">
				        <div class="col">
				          <label>First Name:</label>
				          <input type="text" class="form-control-sm" placeholder="First name" name="fname" required>
				          <br>
				          <br>
				          <label>Last Name:</label>
				          <input type="text" class="form-control-sm" placeholder="Last name" name="lname" required>
				        </div>
				    </div>
				      <br>
				    <div class="form-group">
				        <label for="exampleInputEmail1">Username:</label> <br>
				        <input type="username" class="form-control-sm" id="usernameInput" aria-describedby="emailHelp" placeholder="username" name="reg-username" required>
				    </div>
				    <div class="form-group">
				        <label for="exampleInputEmail1">Email Address:</label> <br>
				        <input type="email" class="form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email" name="reg-email" required>
				        <input type="email" class="form-control-sm" id="signUpEmail1" aria-describedby="emailHelp" placeholder="confirm email" name="confirm-email" required>
				    </div>
				    <div class="form-group">
				        <label for="exampleInputPassword1">Password:</label> <br>
				        <input type="password" class="form-control-sm" id="exampleInputPassword1" placeholder="password" name="reg-password" required>
				        <input type="password" class="form-control-sm" id="signUpPassword1" placeholder="confirm password" name="confirm-password" required>
				    </div>
             	    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				    <button type="submit" class="btn btn-primary submit-login">Sign Up</button>
				</form>
            </div>
        </div>
      </div>
    </div>
  </body>

{% endblock %}

{% block script %}

		<script>

			'use strict';

			function goToLogout() {
				window.location.assign('/logout');
			}

		</script>

{% endblock %}

