{% extends 'base.html' %}

{% block content %}

    <nav class="navbar">
        <span>
            <button onclick="redirectProfile()">Profile</button>
        </span>
        <h3><i class="fas fa-globe-americas"></i> Tripster</h3>
        <span>
            <button onclick="redirectLogout()">Logout</button>
        </span>
    </nav>
    <br>
    <h1>{{ trip.trip_name }}</h1>

    <h5>{{ trip.start_date.strftime('%d-%b-%Y') }} to {{ trip.end_date.strftime('%d-%b-%Y') }}</h5>
    <div>
        <form action="/add-place/{{ trip_id }}">
            <span>
                <input id="pac-input" class="controls" type="text" placeholder="Search...." name="place-location">
                <button id="add-place" type="submit">Add</button>
            <span>
        </form>
    </div>
    <br>
    <div class="container">
       
        <div class="row">
            <!------------------- GOOGLE MAP ------------------>
            <div id="map" class="col-7"></div>
            <!------------------ LIST OF PLACES ------------------>
            <div id="list-of-places-container" class="col-5">
                <h3>Places to Visit:</h3>
                <ul class="list-of-places list-group list-group-flush">
                    {% for place in trip.places %}
                        <li class="places list-group-item" id="{{ place.place_name }}">
                            {{ place.place_name }}
                        </li>
                    {% endfor %}
                </ul>
                <br>
                <!------------ BUTTON TRIGGER PLACES MODAL -------->
                {% if trip.places %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      Delete Places
                    </button>
                {% endif %}
                <!----------------- END OF BUTTON ------------------->
            </div>
        </div>
    </div>
    <br>
    <div id="travel-friends" style="text-align: center;">
        <br>
        <h6>Travel Buddies:</h6>
        <span style="align-content: left;">
        {% for buddy in trip.travel_buddies %}
            {% if buddy.email != session.email %}
            <div class='travel-buddy-list' style="text-align: center;">
                <img src="{{ buddy.image_file }}" height="80" width="100">
                <br>
                <span>{{ buddy.fname }}<br>{{ buddy.lname }}</span>
            </div>
            {% endif %}
        {% endfor %}
        {% if username != trip.creator.username %}
            <div class='travel-buddy-list' style="text-align: center;">
                <img src="{{ trip.creator.image_file }}" height="80" width="100">
                <br>  
                <span>{{ trip.creator.fname }}<br>{{ trip.creator.lname }}</span>    
            </div>
        {% endif %}
        </span>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-friends">
          Add Friends
        </button>
    </div>
    <!-------------------------- DELETE PLACES MODAL ----------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Places</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/delete-places">
                <ul class="list-of-places-modal">
                    {% for place in trip.places %}
                    <li>
                        <span>
                            {{ place.place_name }}
                            <input type="checkbox" class="delete-place" id="{{ place.place_id }}">
                        </span>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
            <form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="save-delete-places" class="btn btn-primary" data-dismiss="modal">Delete Places</button>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------- END OF MODAL ----------------------------->

    <!---------------------- ADD TRAVEL BUDDIES MODAL ----------------------->
    <div class="modal fade" id="add-friends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add-friends-label">Add Friends</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% for user in users %}
                {% if user not in trip.travel_buddies and user != trip.creator %}
                    <div>
                      <img src="{{ user.image_file }}" height="80" width="100">
                    </div>
                    <div>
                      {{ user.fname }} {{ user.lname }}
                      <input type="checkbox" class="select-friend" id="{{ user.user_id }}" name="{{ trip.trip_id }}">
                    </div>
                    <br>
                {% endif %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="save-friends" class="btn btn-primary" data-dismiss="modal">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-------------------- END OF ADD FRIENDS MODAL ------------------------->

{% endblock %}

{% block script %}

    <script type="text/javascript">
        'use strict';

        /*----------------------ADD FRIEND TO TRIP---------------------------*/

        function showFriend(result) {
            alert('Added!');
        }

        function addFriend() {
            $('input[type=checkbox]').each(function() {
                if (this.checked) {
                    let formData = {"user_id": $(this).attr('id'),
                                    "trip_id": $(this).attr('name')};
                    $.get('/add-friends.json', formData, showFriend);
                }
            })
        }

        $('#save-friends').on('click', addFriend);

        /*------------------DELETE PLACE FROM LIST---------------------------*/

        function confirmDelete(result) {
            alert(result);
        }

        function deletePlace() {
            $('input[type=checkbox]').each(function() {
                if (this.checked) {
                    let formData = {"place_id": $(this).attr('id')};
                    $.get('/delete-place', formData, confirmDelete);
                }
            })
        }

        $('#save-delete-places').on('click', deletePlace);

        /*----------------ADD PLACE FROM GOOGLE SEARCH-----------------------*/

        // function displayPlace(result) {
            // var placeName = result.place_name;
            // $('.list-of-places').append(`<li class="places" id=${placeName}>${placeName}</li>`);
            // $('.list-of-places-modal').append(`<li>
            //                                     <span>
            //                                     ${placeName}
            //                                     <input type="checkbox" class="delete-place">
            //                                     </span>
            //                                     </li>`);
        // }

        // function addPlace() {
        //     let formData = {"place-location": $('#pac-input').val(),
        //                     "trip-id": "{{ trip_id }}"};

        //     $.get('/add-place.json', formData, displayPlace);
        // }

        // $('#add-place').on('click', addPlace);

        /*---------------------------REDIRECTS--------------------------------*/

        function redirectProfile() {
            window.location.assign('/profile/{{ username }}');
        }

        function redirectLogout() {
            window.location.assign('/logout');
        }

        function redirectFriends() {
            window.location.assign('/add-friends');
        }

    </script>
    <script src="static/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&libraries=places&callback=initAutocomplete" async defer></script> 


{% endblock %}