{% extends 'base.html' %}

{% block content %}
<body id="logout-body">

<div class="center-login rounded" style="background-color: white;">
        <div>
            <h1>Goodbye!</h1>

            <button id="login-again" onclick="redirect()">Login</button>
            <button onclick="goHome()">Home</button>
        </div>
    </div>
<br>

</body>
{% endblock %}

{% block script %}

<script type="text/javascript">
    'use strict';

    function redirect() {
        window.location.assign('/login');
    }

    function goHome() {
        window.location.assign('/');
    }

</script>

{% endblock %}