{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

    <div id="background-profile-image">
        <nav class="navbar" id="profile-navbar">
            <h3 class="logo">Tripster</h3>
            <span>
                <button onclick="homepage()">Home</button>
                <button onclick="logout()">Logout</button>
            </span>
        </nav>
        <br>

    <!----------------------------- PROFILE IMAGE ---------------------------->
        <div class="container" id="profile-container">
            <h1 style="color: white; text-align: left;">Welcome, {{ user.fname }}</h1>
            <br>
            <div class="row profile-info-container">
                <div id="profile-pic" class="col-6">
                    <img src="../{{ user.image_file }}" id="profile-image" height="250" width="350">
                    <br>
                    <br>
                    <button type="button" class="profile-button" data-toggle="modal" data-target="#profile-photo-modal">
<!--                         Update profile image -->
                        <i class="fas fa-camera fab" style="color: grey;"></i>
                    </button>
                </div>

    <!----------------------------- LIST OF TRIPS ---------------------------->
                <div class="trip-list col-6 scroll-trip">
                    {% for trip in user.created_trips %}
                        <div class="trips-container" id="{{ trip.trip_id }}-trip">
                            <span class="trip-text">
                                <a class="trip-link" href="/{{ trip.trip_name }}-{{ trip.trip_id }}">
                                    {{ trip.trip_name }}
                                    <br>
                                    {{ trip.start_date.strftime('%d-%b-%Y') }}
                                </a>
                            </span>
                        </div>
                        <br>
                    {% endfor %}
                    <div>
                    {% for trip in user.trips %}
                        <div class="trips-container" id="{{ trip.trip_id }}-trip">
                            <span class="trip-text">
                                <a class="trip-link" href="/{{ trip.trip_name }}-{{ trip.trip_id }}">
                                    {{ trip.trip_name }}
                                    <br>
                                    {{ trip.start_date.strftime('%d-%b-%Y') }}
                                </a>
                            </span>
                        </div>
                        <br>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9" style="text-align: right; margin-right: 300px;">
                <button class="btn btn-primary add-del-trip" data-toggle="modal" data-target="#add-trip-modal">+</button>
                <button type="button" class="btn btn-primary add-del-trip" data-toggle="modal" data-target="#remove-trip-modal">
                    -
                </button>
            </div>
        </div>
    </div>

    <!------------------------ ADD PROFILE PHOTO MODAL ----------------------->
    <div class="modal fade" id="profile-photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Profile Photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/my_submit" id="upload-image" enctype="multipart/form-data" method="post">
                <br>
                <span>
                    <input type="file" name="my_photo" accept="image/*">
                    <br>
                    <input type="submit" id="submit-image" value="Upload">
                </span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!---------------------------- ADD TRIPS MODAL --------------------------->
    <div class="modal fade" id="add-trip-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Trip</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/validate-trip" method="post">
                Trip name <br>
                <input type="text" name="trip-name" required>
                <br>
                <br>
                Start date <br>
                <input type="date" name="start-date" required>
                <br>
                <br>
                End date <br>
                <input type="date" name="end-date" required>
                <br>
                <br>
                <button type="submit" class="btn btn-primary" id="add-trip-button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--------------------------- DELETE TRIPS MODAL ------------------------->
    <div class="modal fade" id="remove-trip-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Remove Trip(s)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/delete-trip.json" method="post">
                <ul class="list-of-trips-modal">
                    {% for trip in user.created_trips %}
                    <li>
                        <span>
                            {{ trip.trip_name }} ({{ trip.start_date.strftime('%d-%b-%Y') }} - {{ trip.end_date.strftime('%d-%b-%Y') }})
                            <input type="checkbox" class="delete-trip" id="{{ trip.trip_id }}">
                        </span>
                    </li>
                    <br>
                    {% endfor %}
                    {% for trip in user.trips %}
                    <li>
                        <span>
                            {{ trip.trip_name }} ({{ trip.start_date.strftime('%d-%b-%Y') }} - {{ trip.end_date.strftime('%d-%b-%Y') }})
                            <input type="checkbox" class="delete-trip" id="{{ trip.trip_id }}">
                        </span>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="save-removed-trips" class="btn btn-primary" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
    
{% block script %}

    <script type="text/javascript">
        'use strict';

        function redirect() {
            window.location.assign('/add-trip');
        }

        function logout() {
            window.location.assign('/logout');
        }

        function homepage() {
            window.location.assign('/');
        }

        /*-------------------------- DELETE TRIP ----------------------------*/

        function confirmTripDelete(result) {
            $(`#${result.trip_id}-trip`).remove();
        }

        function deleteTrip() {
            $('input[type=checkbox]').each(function() {
                if (this.checked) {
                    let formData = {"trip_id": $(this).attr('id')};
                    console.log(formData);
                    $.post('/delete-trip.json', formData, confirmTripDelete);
                }
            });
        }

        $('#save-removed-trips').on('click', deleteTrip);

    </script>

{% endblock %}


